<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="base.js"></script>
  </head>

  <body>
    <div id="chessboard">
      <ul>
        <template v-for="(row, rIndex) in cells">
          <li  v-for='(cell, cIndex) in row' v-on:click="move(rIndex, cIndex)" v-bind:class="[cellClass(rIndex, cIndex), {highlighted:highlighted(rIndex, cIndex)}]" > <chess-piece :piece='cell' v-if="!_.isNull(cell)"></chess-piece> </li>
        </template>
      </ul>

      <div v-if="!_.isNull(selectedPiece)" >{{selectedPiece}}</div>
    </div>
  </body>
</html>